body {
  background-image: url(../img/pizza-background.jpeg);
}

#pizza {
  width: auto;
  height: 300px;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid black;
  border-width: 10px;
  background-color: rgb(31, 159, 89);
  text-align: center;
  margin-bottom: 3%;
  box-sizing: border-box;
}

#to-go {
  width: auto;
  height: 300px;
  padding-top: 2%;
  padding-bottom: 2%;
  border: solid black;
  border-width: 10px;
  background-color: rgb(31, 159, 89);
  text-align: center;
  margin-bottom: 3%;
  box-sizing: border-box;
}

#address {
  width: 80%;
  margin-bottom: 10%;
}

#display {
  width: auto;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 2%;
  box-sizing: border-box;
}

#submit {
  margin-top: 5%;
}